.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

//! Link redirect
.link-redirect {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  transition: color 0.5s;

  &:hover {
    color: #00abb3;
    transition: color 0.5s;
  }
}

//! Hover pointer
.pointer {
  &:hover {
    cursor: pointer;
  }
}

.no-cursor {
  &:hover {
    cursor: default;
  }
}

td:hover {
  cursor: default;
}

//! Flex display
.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.horizontal-center {
  display: flex;
  justify-content: center;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.justify-start {
  justify-content: flex-start;
}

.align-start {
  align-items: flex-start;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

//! Font size
.fs-12 {
  font-size: 12px;
}
.fs-14 {
  font-size: 14px;
}
.fs-16 {
  font-size: 16px;
}
.fs-18 {
  font-size: 18px;
}
.fs-20 {
  font-size: 20px;
}
.fs-26 {
  font-size: 26px;
}
.fs-32 {
  font-size: 32px;
}

//! Margin
.mr-5 {
  margin-right: 5px;
}
.ml-5 {
  margin-left: 5px;
}
.mr-10 {
  margin-right: 10px;
}
.ml-10 {
  margin-left: 10px;
}
.mt-10 {
  margin-top: 10px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mr-20 {
  margin-right: 20px;
}
.ml-20 {
  margin-left: 20px;
}
.mt-20 {
  margin-top: 20px;
}
.mb-20 {
  margin-bottom: 20px;
}

//! Table
table {
  &::-webkit-scrollbar-track {
    background-color: #ebebeb;
  }

  &::-webkit-scrollbar {
    width: 7px;
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(165, 165, 165);
  }
}

//! Image
.gif {
  border-radius: 5px;
}

//+ Element
.modal-footer {
  display: flex;
  justify-content: space-between;
  margin: 25px 0 15px;
}

.modal-footer-long {
  display: flex;
  justify-content: flex-end;
  margin: 25px 0 15px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
